<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HR Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .job-button {
            max-width: 60%;
            margin: 0 auto;
        }

        .jobs-container {
            margin-top: 10px;
        }

        .form-container {
            padding: 10px;
        }

        .navbar-nav>li>.dropdown-menu {
            width: 500px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/admin">HR Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/jobs">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Applications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/add-job">Add Job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/perform_logout">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<div>
<div class="list-group jobs-container">
    <h2 class="list-group-item list-group-item-action job-button active text-center">All Listed Positions</h2>
    <div th:each="job : ${jobs}" class="list-group-item list-group-item-action job-button">
        <a th:text="${job.jobTitle}" th:href="@{'/jobs/' + ${job.id}}"></a>
        <form action="#" th:action="@{'/admin/jobs/' + ${job.id}}" th:method="delete" >
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="badge badge-danger">Remove</button>
        </form>
    </div>
    <p href="#" class="list-group-item list-group-item-action job-button" th:if="${#lists.isEmpty(jobs)}" th:text="${'No Jobs.'}"></p>
    
</div>
</div>
</body>
</html>